.service-container{
    text-align: center;
    padding: 30px; 
    margin: 20px 0px 50px;  
    height: 280px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.6s;
}

.service-container:hover{
    border: 1px solid var(--secondary-color);
}

.service-icon{
    width: 100px;
    padding: 10px;
    
}

.service-head{
    font-weight: 500;
}

.service-description{
    color: var(--description-color);
    font-size: 13px;
    padding: 10px 0;
    line-height: 18px;
}

@media screen and (max-width: 576px) {
    .service-container{
        
    }
    
}