aside{
    /* background-color: rgb(227, 227, 227); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 30px;
    width: 300px;
}

.dashboard-btn{
    text-decoration: none;
    font-size: 14px;
    color: var(--title-color);
    padding: 20px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.dashboard-btn:hover{
    background-color: rgb(241, 241, 241);
}

.hr-line{
    display: none;
    border: 1px solid var(--title-color);
    margin: 10px 0;
}

.btn-with-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dashboard-menu-icon{
    width: 20px;
}

@media screen and (max-width: 992px) {
    aside{
        display: none;
    }
    
}