.section-heading-container{
    padding: 8rem 0rem 0;
    width: var(--primary-width);
    margin: auto;
}

.section-heading{
    width: fit-content;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
}

.section-sub-heading{
    color: var(--description-color);
    font-size: 14px;
}

.section-title-divider{
    border: .5px solid var(--secondary-color);
    opacity: 10%;
    width: 50%;
    margin: 10px 0;
}

/* Medium Screen */
@media screen and (max-width: 992px) {
    .section-heading-container{
        margin-top: 0rem;
        padding: 0 1rem;
    }
    
    .section-heading{
        text-align: center;
        margin-top: 5rem;
        font-size: 24px;
        padding: fit-content;
    }

}