.page-title-container{
    background-position: center;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 10rem;
    min-height: 100px; 
}

.sub-heading{
    color: white;
    background-color: var(--primary-color);
    width: fit-content;
    padding: 5px 12px;
    border-radius: 5px;
}

.heading{
    color: var(--secondary-color);
    font-size: 40px;
}

@media screen and (max-width: 992px) {
    .page-title-container{
        padding: 15rem 5rem;
        min-height: 50px; 
        background-position: top;
    }

    .heading{
        font-size: 22px;
        width: 80%;
    }

    .sub-heading{
        font-size: 10px;
        width: fit-content;
    }
}

@media screen and (max-width: 992px) {
    .page-title-container{
        padding: 2rem 5rem;
        
    }
}