.doctor-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    padding: 0 10rem;
    margin-top: 8rem;
}

.doctor-card{
    padding: 50px 0;
    margin: 30px;
    text-align: center;
    min-height: 500px;
    border-radius: 10px;
    background-color: #EAEFF2;
}

.doc-img{
    border: 10px solid rgb(231, 231, 231);
    border-radius: 50%;
    width: 180px;
}

.doc-name{
    font-size: 22px;
    padding: 8px;
    /* text-transform: uppercase; */
}

.doc-speciality{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--description-color);
    padding-bottom: 8px;
}

.chamber-days{
    padding-bottom: 8px;
    color: var(--description-color);
}


/* Tab Screen */
@media screen and (max-width: 992px) {
    .doctor-container{
        display: block;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 0rem;
        padding: 0;
    }
}

/* Mobile Screen */
@media screen and (max-width: 576px) {
    .doctor-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 0;
        gap: 0;
    }
}