.doctor-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10rem;
    gap: 25px;
    margin-top: 10px;
}

.doctor-card{
    padding: 50px 0;
    margin: 30px;
    text-align: center;
    min-height: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: #EAEFF2;
}

.doc-img{
    border: 10px solid rgb(231, 231, 231);
    border-radius: 50%;
    width: 180px;
}

.doc-name{
    font-size: 22px;
    padding: 8px;
    /* text-transform: uppercase; */
}

.doc-speciality{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--description-color);
    padding-bottom: 8px;
}

.chamber-days{
    padding-bottom: 8px;
    color: var(--description-color);
}

/* Tab Screen */
@media screen and (max-width: 992px) {
    .doctor-container{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
        gap: 20px;
    }

    .doctor-card{
        width: 300px;
        padding: 0px 0;
        margin: auto;
    }
}


/* Mobile Screen */
@media screen and (max-width: 576px) {
    .doctor-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
        gap: 15px;
    }

    .doctor-card{
        width: 100%;
        padding: 0px 0;
        margin: auto;
    }

    .doc-img{
        border-radius: 50%;
        margin: 20px 0;
        width: 100px;
    }

    .doc-name{
        font-size: 16px;
    }

    .doc-speciality{
        font-size: 10px;
        color: var(--description-color);
        padding-bottom: 8px;
    }
}

