.pending-payment-container{
    padding: 2rem;
    text-align: center;
    background-color: rgb(245, 234, 212);
    width: fit-content;
    margin: 10px auto;
    border-radius: 10px;
}

.pending-payment-container h6{
    background-color: yellow;
    width: fit-content;
    margin: auto;
    padding: 2px 10px;
    border-radius: 10px;
}

.pending-payment-container p{
    padding: 1rem 0;
    font-size: 14px;
}

.pending-payment-btn{
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 20px;
    font-size: 14px;
}