.live-chat-container{
    /* background: linear-gradient(120deg, rgba(23, 190, 187, 1), rgba(240, 166, 202, 1)); */
    background-color: var(--secondary-low);
    width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bcbcbc; 
}

.live-chat-body{
    padding: 20px;
}

.live-chat-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture{
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(189, 189, 189);
}

.user-info h4 {
  font-size: 14px;
  margin-bottom: 2px;
}

.user-info p{
  font-size: 12px;
  color: var(--description-color);
}

/* Chat Box Style */

.chat-box {
    overflow-y: auto;
  }
  
  .messages {
    padding: 10px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 5px;
    overflow-y: scroll;
    height: 500px;
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
    
  }
  
  .message.received .content {
    background-color: #f0f0f0;
    color: var(--description-color);
  }
  
  .message.sent .content {
    background-color: var(--primary-low);
    text-align: end;
    color: var(--description-color);
  }
  
  .content {
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
  }

  .sender-top-line{
    margin: 10px 0 0 0;
    border: 0.5px dotted var(--secondary-low);
  }
  
  .sender {
    font-size: 9px;
    color: #777;
  }
  
  .input-area {
    display: flex;
    align-items: center;
  }
  
  .input-area input {
    flex-grow: 1;
    padding: 20px 10px;
    white-space: wrap;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    
  }
  
  .btn-send-message {
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .input-area button:hover {
    background-color: var(--primary-color);
  }

  .msg-author{
    display: flex;
    justify-content: end;
  }

  /* Scroll Bar Styles */

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  

@media screen and (max-width: 576px) {
  .live-chat-container{
    width: 95%;
    margin: 10px auto;
  }

  .live-chat-body{
    width: 91%;
    border: none;
  }

  .messages {
    height: 350px;
  }
  
  
}