:root{
    --primary-color: rgb(165, 2, 2);
    --secondary-color: rgb(73, 2, 127);
    --third-color: rgb(34, 0, 255);
    --description-color: rgb(112, 112, 112);
    --title-color: #333;
    --primary-width: 1280px;
}

*{
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');


/* Some Utilities Btn */
.body-container{
    background-color: rgb(255, 255, 255);
}

.container {
    width: var(--primary-width);
    margin: auto;
}

.btn-primary{
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 25px;
    background-color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    :root{
        --primary-width: fit;
    }
}