/* Consultants */
.consultants-container{
    
}

.consultants-head{
    text-align: center;
    margin-bottom: -80px;
    margin-top: 8rem;
}

/* Medium Screen */
@media screen and (max-width: 992px) {
    .contact-info-container{
        flex-direction: column;
        padding: 0 0;
        text-align: center;
        padding: 1rem 0;
    }

    .care-no{
        padding: 1rem 0;

    }

    /* Consultants */
    .consultants-head{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 8rem;
    }

}