.contact-info-container{
    padding: 25px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.care-no{
    font-size: 15px;
    color: var(--description-color);
}

.care-line{
    background-color: var(--description-color);
    color: white;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 5px;
}


/* Bullet Buttons Section */
.premium-btn-container{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    text-align: center;
    margin-top: 2rem;
}

.single-btn-container{
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.btn-description{
    color: var(--description-color);
    font-size: 12px;
    padding-top: 10px;
}

.btn-premium-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.btn-premium-chat:hover{
    background-color: var(--third-color);
    cursor: pointer;
}

.btn-premium-health{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.btn-premium-health:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.btn-premium-medicine{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: var(--third-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.btn-premium-medicine:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.btn-icons{
    width: 48px;
    padding-bottom: 10px;
}

/* Consultants */
.consultants-container{
    
}

.consultants-head{
    text-align: center;
    margin-bottom: -80px;
    margin-top: 8rem;
}

/* Medium Screen */
@media screen and (max-width: 992px) {
    .contact-info-container{
        flex-direction: column;
        padding: 0 0;
        text-align: center;
        padding: 1rem 0;
    }

    .care-no{
        padding: 1rem 0;

    }

    /* Premium Button Section */
    .premium-btn-container{
        flex-direction: column;
        padding: 25px 0;
        align-items: center;
        gap: 3rem;
    }

    /* Consultants */
    .consultants-head{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 8rem;
    }

}